// Here you can add other styles
body {
    background: #38B3E4;
}
.sidebar .sidebar-nav .nav .nav-item .nav-link .icons {
    float:left;
    width:40px;
}
.section1 {
    background: url(/img/mkmission.jpg) center 100% no-repeat #fff;
    background-size: cover;
    height: 55vh;
}
#section2, #section3, #section4, #section6 {
    padding-left:15px;
}
.app-footer {
    z-index:10;
}
.navbar {
    justify-content: flex-start;
}
.navbar-nav .nav-link{
    color:#969696;
}
.navbar-collapse {
    flex-basis: 0;
}
.app-header.navbar {
    border-bottom:none;
}
.app-header.navbar .navbar-brand {
    border-bottom:none;
    background-color:transparent;
    color:#fff;
    font-size: 1.5em;
    font-family: Muli,Sans-Serif;
    font-weight: bold;
}
.app-header.navbar .navbar-brand span {
    position:relative;
    left:100px;
    top:30px;
}
.sidebar .nav .nav-item .nav-link [class^="icon-"] {
    margin-top:2.5px;
}
b,
strong {
  font-weight: 500; // Add the correct font weight in Chrome, Edge, and Safari
}
.slogan-icon.bounce.fa.fa-chevron-down {
    cursor: pointer;
}
header button{
    display:block;
}
#navbarResponsive{
    display:none;
}
@media (min-width:769px){
    header button{
        display:none;
    }
    #navbarResponsive{
    display:block;
        position:absolute;
}
}
