// Here you can add other styles
.sidebar .sidebar-nav .nav .nav-item .nav-link .icons {
    float:left;
}
.section1 {
    background: url(/img/mkmission.jpg) center 100% no-repeat #fff;
    background-size: cover;
    height: 55vh;
}
.app-footer {
    z-index:10;
}
.app-header.navbar {
    border-bottom:none;
}
.app-header.navbar .navbar-brand {
    border-bottom:none;
}